.pagination {
    list-style-type: none;
    cursor: pointer;
    margin: 4%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.pagenr {
  border: 1px solid rgb(14, 15, 14);
  display: inline-block;
  height: 22px;
  width: 20px;
  color:rgb(253, 251, 251);
  background-color: rgb(247, 245, 245);
  padding:2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 10px;
  
}
.pagenr:hover {
    background-color: rgb(97, 100, 98);
}

span {
  color:rgb(230, 246, 8);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 6px #050505;
}

a{
    color: black;
    text-decoration: none;
  }
